.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

body {
  background: url(./background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.Content-container {
  background-color: #ffffff88;
  width: 50%;
  padding: 20px;
  /* margin:  0 auto;
  margin-top: 2cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  margin-bottom: 2cm; */
}

.Error-container {
  background-color: #ffffff88;
  width: 50%;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
